
/* Style for error messages */
.jsoneditor-error {
    color: #FF7575; /* Error text color */
    font-size: 14px;
    margin-top: 8px;
    background-color: #4C4C4C; /* Error message background color */
    padding: 8px 12px;
    border-radius: 5px;
}

/* Additional styling for better visibility */
.jsoneditor-error .jsoneditor-schema {
    background-color: #6C6C6C; /* Adjust the color as needed */
}

.jsoneditor-error .jsoneditor-type-mismatch,
.jsoneditor-error .jsoneditor-error-token {
    color: #FF0000; /* Adjust the color as needed */
    font-weight: bold;
}

/* Override other styles if needed */
