/* RadioField.css */

.radio-field-container {
    margin-bottom: 20px;
}

.label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.info {
    margin-left: 5px;
    font-size: 14px;
    color: #3498db; /* Adjust the color as needed */
}

.required {
    margin-left: 5px;
    color: red;
    font-size: 14px;
}

.radio-group {
    display: flex;
    gap: 20px;
}

.ant-radio-button-wrapper-checked>span{
    color:white !important;
}
